<div style="margin-bottom: 10px">
  <button routerLink="/customer" class="btn btn-success">New Customer</button>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Birth Date</th>
    <th scope="col">Address</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody *ngFor="let customer of customers">

      <tr>
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.birthDate}}</td>
        <td>{{customer.address}}</td>
        <td>
        <button class="btn btn-info" title="edit customer" (click)="editCustomer(customer.id)">Edit</button>
        <button class="btn btn-danger" title="delete customer" (click)="delete(customer)">Delete</button>
        </td>
      </tr>


  </tbody>
</table>
