<a routerLink="/customer" type="button" class="btn btn-success">New</a>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Birth Date</th>
    <th scope="col">Address</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody *ngFor="let customer of customers">

      <tr>
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.birthDate}}</td>
        <td>{{customer.address}}</td>
        <td><a routerLink="/customer/{{customer.id}}">Edit</a></td>
      </tr>


  </tbody>
</table>
