
<div class="container">

  <div class="form-group" *ngIf="customer">
    <h3>Name: {{customer.firstName}} {{customer.lastName}}</h3>
    <label>ID</label>
    <input #id class="form-control" disabled value="{{customer.id}}">
  </div>
  <div class="form-group">
    <label>First Name</label>
      <input #firstName class="form-control" placeholder="First Name" [(ngModel)]="customer.firstName">
  </div>
  <div class="form-group">
    <label>Last Name</label>
      <input #lastName class="form-control" placeholder="Last Name" [(ngModel)]="customer.lastName">
  </div>
  <div class="form-group">
    <label>Birth Date</label>
      <input #birthDate class="form-control" placeholder="Birth Date" [(ngModel)]="customer.birthDate">
  </div>
  <div class="form-group">
    <label>Address</label>
      <input #address class="form-control" placeholder="Address" [(ngModel)] ="customer.address">
  </div>

  <button class="btn btn-primary" (click)="add(firstName.value, lastName.value, birthDate.value, address.value)" class="btn btn-success">Save</button>
  <input class="btn btn-primary" (click)="toCustomers()" value="Back">
</div>


